ionic2-calendar {
  display: block;
  .ionic2-calendar {
    * {
      margin: 0;
    }
    width: 100%;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;

    .switch-month-button.md-button {
      font-size: .75em;
    }
    md-select {
      padding: 2px 2px 8px;
      padding: 0;
      margin: 0;
    }

    .ionic2-cal-topnav {
      display: flex;
      .month-selection {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-around;
      }
    }

    .main-view {
      width: 100%;
      .ionic2-cal-month-view {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        // Maybe add only to empty calendar cells...
        span.button-inner {
          flex-grow: 1;
          align-items: stretch;
        }
        .md-button {
          min-width: 1em;
          padding: 0;
          margin: 0;
          line-height: 1em;
          min-height: 1em;
        }
        .ionic2-cal-item {
          flex-basis: 1 / 7 * 100%;
          min-height: 3em;
          padding: 0;
          position: relative;
          display: flex;
          align-items: stretch;
          height: auto;
          flex-direction: column;
          .event-list {
            width: 100%;
            .event-list-item {
              //padding: 3px;
              text-align: left;
              height: auto;
              padding: 0;
              &.active-group-drag {
                background: red;
              }
              &.does-continue {
                box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.14),
                  0 3px 1px -2px rgba(0, 0, 0, 0.2),
                  -3px 1px 2px 0 rgba(0, 0, 0, 0.12);
              }
              &.is-continued {
                box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.14),
                  0 3px 1px -2px rgba(0, 0, 0, 0.2),
                  3px 1px 2px 0 rgba(0, 0, 0, 0.12);
              }
              .ionic2-event-time {
                font-weight: 100;
                margin-bottom: auto;
                margin-top: auto;
              }
              span.button-inner {
                justify-content: flex-start;
                align-items: flex-end;
                ion-icon {
                  margin-bottom: .2em;
                }
              }
              .event-continued-ellipsis {
                margin-left: auto;
              }
              .event-name {
                padding: .2em;
              }
            }
            .event-list-item:first-child {
              //margin-right: 1.75em;
            }
          }
        }
        .ionic2-cal-header {
          background: rgba(0,0,0,0.2);
        }

        .ionic2-cal-header.ionic2-cal-item {
          padding: 5px;
        }
        .out-of-current-month {
          opacity: 0.75;
          background: rgba(0,0,0,0.1);
        }
        .ionic2-cal-day-of-month {
          position: absolute;
          top: 0;
          right: 0;
          background: rgba(255, 255, 255, 0.9);
          width: 1.75em;
          border-radius: 0;
          border-bottom-left-radius: 1em;
          border-top-left-radius: -2px;
          text-align: right;
          color: black;
          padding-right: 2px;
        }
      }
    }

    .event-list {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .event-list-item {
      text-overflow: ellipsis;
    }
  }

  .ionic2-calendar.small, .ionic2-calendar.extra-small {
    .ionic2-cal-month-view {
      .ionic2-cal-item {
        flex-direction: row;
        .event-list {
          //padding-top: 1em;
          flex-direction: row;
          justify-content: space-around;
          .event-list-item {
            span.event-name, span.ionic2-event-time {
              display: none;
            }
          }
          .event-list-item:first-child {
            padding-right: 3.5px;
          }
        }
      }
    }
  }
}
// Calendar classes:
.event-list-item.haq-calendar-entry {
  color: purple;
  background: yellow;
  i {
    color: pink;
    background: cyan;
  }
}

.event-list-item.symptoms-calendar-entry {
  color: white;
  background: black;
  i {
    color: black;
    background: white;
  }
}

.event-list-item.physio-calendar-entry {
  color: red;
  background: green;
  i {
    color: grey;
    background: white;
  }
}